public net.minecraft.world.WorldServer field_73063_M # thePlayerManager
public net.minecraft.network.play.server.SPacketUpdateTileEntity field_148860_e # nbt
public net.minecraft.entity.item.EntityItem field_145804_b # delayBeforeCanPickup
public net.minecraft.entity.item.EntityItem field_70292_b # age
public net.minecraft.entity.item.EntityItem field_184533_c # ITEM
public net.minecraft.entity.item.EntityItem func_85054_d()V # searchForOtherItemsNearby
public net.minecraft.entity.projectile.EntityArrow field_70252_j # ticksInGround
public net.minecraft.client.renderer.EntityRenderer field_78528_u # pointedEntity
public net.minecraft.entity.Entity func_180432_n(Lnet/minecraft/entity/Entity;)V # copyDataFromOld

# FontRenderer
public net.minecraft.client.gui.FontRenderer *
public net.minecraft.client.gui.FontRenderer *()

# GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot
public net.minecraft.client.gui.inventory.GuiContainer field_147005_v # clickedSlot
public net.minecraft.client.gui.inventory.GuiContainer field_147012_x # draggedStack
public net.minecraft.client.gui.inventory.GuiContainer field_147004_w # isRightMouseClick
public net.minecraft.client.gui.inventory.GuiContainer field_146987_F # dragSplittingLimit
public net.minecraft.client.gui.inventory.GuiContainer func_146980_g()V # updateDragSplitting
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u # theSlot
public net.minecraft.client.gui.inventory.GuiContainer field_146996_I # dragSplittingRemnant
public net.minecraft.client.gui.inventory.GuiContainer field_146991_C # returningStack
public net.minecraft.client.gui.inventory.GuiContainer field_146990_B # returningStackTime
public net.minecraft.client.gui.inventory.GuiContainer field_146989_A # returningStackDestSlot
public net.minecraft.client.gui.inventory.GuiContainer field_147011_y # touchUpX
public net.minecraft.client.gui.inventory.GuiContainer field_147010_z # touchUpY
public net.minecraft.client.gui.inventory.GuiContainer func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V # drawItemStack
public net.minecraft.client.gui.inventory.GuiContainer func_146981_a(Lnet/minecraft/inventory/Slot;II)Z # isMouseOverSlot